header#header
  a.l-logo(href="/")
    img(src="/images/common/bizlink_logo_w.svg")
  .l-nav
    a.l-nav-item(active) プロジェクト
      .c-badge 84
    a.l-nav-item コンタクト
      .c-badge 42
    a.l-nav-item プロフィール