div.p-contacts_sidebar
  div.p-contacts_sidebar_box
    a.p-contacts_sidebar_item(href="#", active)
      div.p-contacts_sidebar_item_status
        div.c-badge_status 応募
      div.p-contacts_sidebar_item_project
        div.p-contacts_sidebar_item_project_name
          div.p-contacts_sidebar_item_label プロジェクトタイトル化粧品メーカーのEC運用代行文字数
          div
            div.c-badge 42
        div.p-contacts_sidebar_item_job セールス

    a.p-contacts_sidebar_item(href="#")
      div.p-contacts_sidebar_item_status
        div.c-badge_status(active) オファー
      div.p-contacts_sidebar_item_project
        div.p-contacts_sidebar_item_project_name
          div.p-contacts_sidebar_item_label プロジェクトタイトルECマーケティング担当者
          div
            div.c-badge 42
        div.p-contacts_sidebar_item_job マーケティング

    a.p-contacts_sidebar_item(href="#")
      div.p-contacts_sidebar_item_status
        div.c-badge_status 応募
      div.p-contacts_sidebar_item_project
        div.p-contacts_sidebar_item_project_name
          div.p-contacts_sidebar_item_label 新規サービスのUI/UXデザイナー
        div.p-contacts_sidebar_item_job デザイナー

    a.p-contacts_sidebar_item(href="#")
      div.p-contacts_sidebar_item_status
        div.c-badge_status(active) オファー
      div.p-contacts_sidebar_item_project
        div.p-contacts_sidebar_item_project_name
          div.p-contacts_sidebar_item_label 新規サービスのエンジニア
        div.p-contacts_sidebar_item_job エンジニア