div.p-contacts_message
  div.p-contacts_message_block
    div.p-contacts_message_chat
      div.p-contacts_message_chat_avatar(style="background-image:url('/images/avatars/user1.jpg')")
      div.p-contacts_message_chat_content
        div.p-contacts_message_balloon 短いテキスト
    div.p-contacts_message_chat(reverse)
      div.p-contacts_message_chat_avatar(style="background-image:url('/images/avatars/user2.jpg')")
      div.p-contacts_message_chat_content
        div.p-contacts_message_balloon="先生はかっこうの挨拶かっこうたちをへんを思っ猫ましまし。するとまただめましだというばかました。上手たたんたはだすると一つの気の毒たちのままにもきっとだめたまして、みんなじゃたばこから云いしのたん。しすぎそれはだいを赤くじて近くの子のひも屋が弾き第六子どもの安心が出るていたまし。\n\n椅子も毎晩考えついときう。ゆうべも一弾きかっこうのようを考えついて切れた。むのくらいしかないのではどなり扉やおれをつけるがやろない。\n\nゴーシュもゆうべへたいへんにたべるながら嘴を水のようがありて狸がなってもう扉から済むて行きまし。何とかまるでセロが先生にちがいますまし。何いきなりとゃくしゃしていましたがいつまでもつづけてがはいってゴーシュをしただ。\n\nトォテテテテテイを弾いました。「さまをのきな。ゴーシュ、これへ次。叩く。」\n\nおまえは今のなかのすぐひとつのところを出したた。ばかは鳥にお扉に出て先生に控室を行って何だかはじめだまれれましうちがとるやまし。にやにや病気弾いて、叫びてわかっていたてゴムのそれから声にどうしてもつまみこわれたた。"
    div.p-contacts_message_chat
      div.p-contacts_message_chat_avatar
      div.p-contacts_message_chat_content
        div.p-contacts_message_balloon 反転するには、.p-contact_message_chatにreverse属性を付与する
  div.p-contacts_message_input_block
    textarea.p-contacts_message_textarea(placeholder="送信するメッセージを入力してください", resize="none")
    button.c-button--dark-blue.c-button--shadow.c-button--xs 送信