div.p-project_filter_block
  div.p-project_filter_item
    div.p-project_filter_label 絞り込み
    div
      label.c-select_group
        select.c-select
          option(value="") Dropdown
          option(value="select1") select1-long-word-limited-length
          option(value="select2") select2
  div.p-project_filter_item
    div.p-project_filter_label 並び替え
    div
      label.c-select_group
        select.c-select
          option(value="") Dropdown
          option(value="select1") select1
          option(value="select2") select2