.c-badge {
  display: inline-block;
  padding: 3px 0.5em;
  background-color: $red;
  border-radius: 18px;
  font-family: HelveticaNeue;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.c-badge_status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 10px;
  text-align: center;
  color: #fff;
  background-color: $blue;
  border-radius: 3px;
  &[active] {
    background-color: $dark-blue;
  }
}