.c-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375em .75em;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  transition: color .15s;
  cursor: pointer;
}

.c-button--default {
  @extend .c-button;
  border-color: #ccc;
  background-color: $lighter-gray;
  &:hover {
    background-color: $light-gray;
  }
}
.c-button--main {
  @extend .c-button;
  color: #fff;
  border-color: $blue;
  background-color: $blue;
  &:hover {
    border-color: $dark-blue;
    background-color: $dark-blue;
  }
}
.c-button--main--sm {
  @extend .c-button--main;
  font-size: 12px;
}

.c-button_subscription {
  @extend .c-button;
  font-size: 13px;
  background-color: $blue;
  color: #fff;
  padding: 6px 20px 3px;
  box-shadow: 0 8px 0 0 rgba($dark-blue, 1);
  margin-top: 0;
  margin-bottom: 8px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 0 0 rgba($dark-blue, 1);
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
.c-button_subscription_inner {
  display: inline-block;
  border: 1px solid #fff;
  padding: 2px 12px;
}

.c-button_subscription--sm {
  @extend .c-button_subscription;
  min-width: 100px;
  padding: 3px 10px 1px;
  box-shadow: 0 4px 0 0 rgba($dark-blue, 1);
  margin-bottom: 4px;
  &:hover {
    box-shadow: 0 2px 0 0 rgba($dark-blue, 1);
    margin-top: 2px;
    margin-bottom: 2px;
  }
}