.c-button_social {
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0 .75em 0 0;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  transition: color .15s;
  cursor: pointer;
  &::before {
    height: 24px;
    padding-right: 8px;
    vertical-align: top;
    line-height: 1;
  }
}
.c-button_social--facebook {
  @extend .c-button_social;
  &::before {
    content: url('/images/icons/facebook.svg');
  }
}
.c-button_social--linkedin {
  @extend .c-button_social;
  &::before {
    content: url('/images/icons/linkedin.svg');
  }
}
