.c-form_group {
  margin-bottom: 20px;
}
.c-form_group--row {
  @extend .c-form_group;
  display: flex;
  flex-wrap: wrap;
  .c-label {
    margin-right: 10px;
  }
  .c-label--row30 {
    width: 30%;
  }
  .c-form {
    flex: 1;
  }
}
.c-form {
  position: relative;
  display: inline-flex;
  height: 29px;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-size: 12px;
  color: black;
  vertical-align: top;
  border: 1px solid $dark-gray;
  border-radius: 4px;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  &:placeholder-shown {
    color: $gray;
    font-weight: lighter;
  }
  // Google Chrome, Safari, Opera 15+, Android, iOS
  &::-webkit-input-placeholder {
    color: $gray;
    font-weight: lighter;
  }
  // Firefox 18-
  &:-moz-placeholder {
    color: $gray;
    font-weight: lighter;
    opacity: 1;
  }
  // Firefox 19+
  &::-moz-placeholder {
    color: $gray;
    font-weight: lighter;
    opacity: 1;
  }
  // IE 10+
  &:-ms-input-placeholder {
    color: $gray;
    font-weight: lighter;
  }
  &.disabled {
    background-color: $lighter-gray;
  }
}
.c-label {
  font-size: 12px;
  line-height: 29px;
  color: $darker-gray;
}