@mixin link($color, $hover) {
  color: $color;
  cursor: pointer;
  &:hover {
    color: $hover;
  }
}
.c-link--blue {
  @include link($blue, $dark-blue);
}
.c-link--gray {
  @include link($gray, $dark-gray);
}