.c-textarea {
  border: 1px solid $gray;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  min-height: 160px;
  background-color: #fff;
  font-size: 12px;
  color: $darker-gray;
  line-height: 1.5;
  padding: 0.5em 0.75em;
  &:placeholder-shown {
    color: $gray;
    font-weight: lighter;
  }
  // Google Chrome, Safari, Opera 15+, Android, iOS
  &::-webkit-input-placeholder {
    color: $gray;
    font-weight: lighter;
  }
  // Firefox 18-
  &:-moz-placeholder {
    color: $gray;
    font-weight: lighter;
    opacity: 1;
  }
  // Firefox 19+
  &::-moz-placeholder {
    color: $gray;
    font-weight: lighter;
    opacity: 1;
  }
  // IE 10+
  &:-ms-input-placeholder {
    color: $gray;
    font-weight: lighter;
  }

  &[resize="none"] {
    resize: none;
  }
  &.disabled {
    background-color: $lighter-gray;
  }
}