// $base: #efecea;
// $main: #334854;
// $link: #3D7D99;
// $black: #4d4d4d;
// $pink: #e04462;
// $green: #44aa62;
// $yellow: #f9ce3f;

$blue: #6C9BD2;
$light-blue: #6c9bd2;
$lighter-blue: #e1eaf5;
$dark-blue: #3b6eaa;
$red: #ed1c24;

$lighter-gray: #f5f6f8;
$light-gray: #e6e6e6;
