extends ../layout/_index.pug

block contents
  include ../components/header/_index.pug
  div.l-content_title
    h1.c-heading1 プロフィール
  div.p-profile_avatar_wrap
    label
      img.p-profile_avatar(src="/images/avatars/user3.jpg")
      input(type="file", name="avatar", accept="image/*", style="display: none;")
  div.p-profile_careersheet
    h1.p-careersheet_title キャリアシート
    form
      div.p-careersheet_wrap.p-careersheet_border
        div.p-careersheet_group.mb20
          div.c-label.c-label--row30(style="min-width: 120px") 現在の都道府県(必須)
          div.p-careersheet_input--row
            div.p-careersheet_value 東京都
          button.c-link--gray.p-careersheet_edit 編集
        div.p-careersheet_group.mb20
          div.c-label.c-label--row30(style="min-width: 120px") 出身の都道府県(必須)
          div.p-careersheet_input--row
            div.p-careersheet_value 東京都
          button.c-link--gray.p-careersheet_edit 編集
        div.c-form_group
          div.c-label 経験業界 ＊複数選択可(必須)
          div.p-careersheet_group
            div.p-careersheet_industry
              div.c-tag IT・通信系
              div.c-tag IT・通信系
              div.c-tag IT・通信系
              div.c-tag IT・通信系
              div.c-tag IT・通信系
              div.c-tag IT・通信系
              //- button.c-button_text--gray.c-button_text--sm ＋ 業界を追加する
            button.c-link--gray 追加/編集

        div.c-form_group
          div.c-label 経験職種・スキル/年数 ＊複数選択可(必須)
          div.p-careersheet_group
            div.p-careersheet_jobs
              div.p-careersheet_jobs_box
                div.p-careersheet_job
                  div.c-tag IT・通信系
                    span.c-tag_year 3 年
                  div.c-tag IT・通信系
                    span.c-tag_year 1 年
                  div.c-tag IT・通信系
                  div.c-tag IT・通信系
                  div.c-tag IT・通信系
                  div.c-tag IT・通信系
                div.p-careersheet_skill
                  div.c-skill 企画書作成
                    span.c-skill_year 3年
                  div.c-skill ワイヤーフレーム作成
                  div.c-skill 商品企画
                  div.c-skill 事業企画
                  div.c-skill 営業企画
            button.c-link--gray 追加/編集

        div.c-form_group
          div.p-careersheet_group
            div.c-label プロフィール ＊1,000文字まで(必須)
            button.c-link--gray.p-careersheet_edit 編集
          textarea.c-textarea(readonly)="プロフィールが1,000文字まで入力されています。\nこんにちは！はじめまして。\n新卒で戦略PRコンサルティング会社に入社し、PRコンサルタントとして2年間従事。大企業を中心に、PRに紐づくサイトディレクションやイベント・記者会見の企画・運営やプロジェクトマネジメントなどを行う。「リソースが不足している企業を助けていきたい」という思いが強くなり、2016年4月よりGrowtherにてスタートアップ・ベンチャーを中心にPR支援を実施。"

        div.p-careersheet_group.mb20
          label.c-label.c-label--row30 希望報酬(日)
          div.p-careersheet_input--row(style="min-width: 240px")
            div.p-careersheet_value ¥ 10,000&emsp;から&emsp;¥20,000
          button.c-link--gray.p-careersheet_edit 編集

        div.p-careersheet_group.mb20
          label.c-label.c-label--row30 希望報酬(月)
          div.p-careersheet_input--row(style="min-width: 240px")
            div.p-careersheet_value ¥ 100,000&emsp;から&emsp;¥200,000
          button.c-link--gray.p-careersheet_edit 編集
          //- div.p-careersheet_input--row(style="min-width: 240px")
            label.c-form--price
              input(type="input", name="fee-month-min", placeholder="100,000")
            span(style="width: 32px;") &nbsp;から&nbsp;
            label.c-form--price
              input(type="input", name="fee-month-max", placeholder="200,000")

        div.p-careersheet_group.mb20
          label.c-label.c-label--row30 稼働可能日数
          div.p-careersheet_input--row(style="min-width: 240px")
            div.p-careersheet_value 週3日程度
          button.c-link--gray.p-careersheet_edit 編集

          //- div.p-careersheet_input--row
            span 週&nbsp;
            span(style="width: 60px;")
              input.c-form(type="input", name="working-days")
            span &nbsp;日程度

        div.p-careersheet_group.mb20
          div.c-label.c-label--row30(style="min-width: 120px") 現在の活動状況
          div.p-careersheet_input--row(style="min-width: 240px")
            div.p-careersheet_value 積極的に活動中
          button.c-link--gray.p-careersheet_edit 編集

          //- div
            label.c-select_group.mr10
              select.c-select(name="status")
                option(value="", selected, disabled) Dropdown
                option(value="1") 今すぐ働きたい
                option(value="2") 気になる仕事があれば
        div.p-careersheet_group.mb20
          div.c-label.c-label--row30(style="min-width: 120px") 活動可能時期
          div.p-careersheet_input--row(style="min-width: 240px")
            div.p-careersheet_value すぐにでも
          button.c-link--gray.p-careersheet_edit 編集

          //- div
            label.c-select_group.mr10
              select.c-select(name="timing")
                option(value="", selected, disabled) Dropdown
                option(value="1") すぐに
                option(value="2") 3ヶ月前後
                option(value="3") 6ヶ月前後

        div.p-careersheet_group.mb20
          label.c-label.c-label--row30(style="min-width: 140px") ブログ/ホームページなど
          div.p-careersheet_input--row(style="min-width: 240px")
            div.p-careersheet_value https://example.bizlink.herokuapp.com
          button.c-link--gray.p-careersheet_edit 編集

          //- div.p-careersheet_input--row
            input.c-form(type="input", name="siteurl", placeholder="https://example.bizlink.herokuapp.com")
      div.p-careersheet_wrap
        div.p-careersheet_file.mb20
          label.c-form_file
            input(type="file", name="resume", accept="application/pdf,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
            span
              | 職務経歴書
              br
              | (Excel・PDFのみ)
          label.c-form_file--photo
            input(type="file", name="portfolio", accept="application/pdf")
            span
              | ポートフォリオ
              br
              | (PDFのみ)
        //- div.text-center(style="margin-top: 80px;")
          button.c-button_subscription--sm(type="submit") 完了

  include ../components/footer/_index.pug
