div.p-project_sidebar
  div.p-project_sidebar_title あなたがコンタクトしているプロジェクト
  div.p-project_sidebar_box
    a.p-project_sidebar_item(href="#")
      div.p-project_sidebar_item_label プロジェクトタイトル
      div
        div.c-badge 42
    a.p-project_sidebar_item(href="#")
      div.p-project_sidebar_item_label プロジェクトタイトル文字数がはみだした場合
    a.p-project_sidebar_item(href="#")
      div.p-project_sidebar_item_label プロジェクトタイトル文字数がはみだした場合
      div
        div.c-badge 42
    a.p-project_sidebar_all(href="#") 全てのコンタクト ≫