.p-project_client {
  display: flex;
  flex-wrap: wrap;
  &:not(:last-child) {
    margin-bottom: 4px;
  }
}
.p-project_client_name {
  font-size: 14px;
  padding: 8px 14px 6px;
  margin-top: -12px;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 8px;
  border-bottom: 1px solid #f2f2f2;
}
.p-project_client_label {
  width: 60px;
  font-size: 12px;
  font-weight: bold;
}
.p-project_client_value {
  flex: 1;
  font-size: 12px;
}
.p-project_client_other {
  min-height: 6em;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 12px;
  margin-top: 4px;
  background-color: #f2f2f2;
  border-radius: 2px;
}