.p-profile_avatar_wrap {
  max-width: 660px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.p-profile_avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
}
.p-profile_careersheet {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}