.p-project_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.p-project_list_item {
  flex: 1;
  max-width: 390px;
  min-width: 330px;
  padding: 15px;
  margin-bottom: 30px;
}
.p-project_list_item_image {
  position: relative;
  background-size: cover;
  margin-bottom: 8px;
  &::before {
    display: inline-block;
    content: '';
    padding-top: 30%;
    width: 0;
  }
}
.p-project_list_item_title {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 15px;
}
.p-project_list_item_status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
  margin-bottom: 6px;
}