extends ../layout/_index.pug

block contents
  include ../components/header/_index.pug
  div.p-single_block
    h1.c-heading1.text-center Q&A
    div.mb40
      p.p-single_title 1, QAのタイトルが入ります
      p.p-single_text QAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキスト
    div.mb40
      p.p-single_title 1, QAのタイトルが入ります
      p.p-single_text QAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキストQAのテキストを入れて下さい。サンプルテキスト
  include ../components/footer/_index.pug
