extends ./index

block modal
  div.p-modal
    div.p-modal_dialog
      div.p-modal_content
        div.p-modal_header
          div.p-modal_title プロジェクトに応募
        div.p-modal_body
        div.p-modal_footer