extends ./index

block modal
  div.p-modal
    div.p-modal_dialog
      div.p-modal_content
        div.p-modal_header
          div.p-modal_title プロジェクトに応募
          div.p-modal_close
        div.p-modal_body
          div.text-center.mb10
            span.text-bold プロジェクトタイトル化粧品メーカーのEC運用代行
            br
            span に応募します。よろしいですか？
        div.p-modal_footer
          div.text-center
            button.c-button_subscription--sm 応募する
