.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb40 {
  margin-bottom: 40px;
}

.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}

.pt40 {
  padding-top: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
