extends ../layout/_logins

block body
  div.p-signup
    div.p-signup_logo
      img(src="/images/common/bizlink-logo-c.png")
    div.p-signup_catchphrase
      img(src="/images/common/catchphrase.png")
    div.mb20.text-center
      button.c-button--main.p-signup_button メールアドレスで簡単登録
    div.p-signup_social
      a.p-signup_social_item(href="#")
        button.c-button_social--facebook Facebookを利用して登録
      a.p-signup_social_item(href="#")
        button.c-button_social--linkedin Linkedinを利用して登録
