.l-content {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
}
.l-main {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.l-sidebar {
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.l-content_title {
  margin-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
}
.l-content--modal {
  display: flex;
  align-items: center;
  justify-contnet: center;
  flex: 1;
  background-color: #f2f2f2;
  .p-modal_dialog {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}