extends ../layout/_index.pug

block contents
  include ../components/header/_index.pug
  div.l-content
    div.p-single_block
      h1.c-heading1--static.text-center BizLinkプライバシーポリシー
      div.mb20
        p.p-single_text
          | 利用規約全文をここに入れて下さいサンプルテキスト利用規約全文をここに入れて下さいサンプルテキスト
          br
          | 利用規約全文をここに入れて下さいサンプルテキスト利用規約全文をここに入れて下さいサンプルテキスト
        p.p-single_text 利用規約全文をここに入れて下さいサンプルテキスト利用規約全文をここに入れて下さいサンプルテキスト利用規約全文をここに入れて下さいサンプルテキスト利用規約全文をここに入れて下さいサンプルテキスト
        p.p-single_text 利用規約全文をここに入れて下さいサンプルテキスト利用規約全文をここに入れて下さいサンプルテキスト
  include ../components/footer/_index.pug
