footer#footer
  .l-footer_nav
    div.l-footer_nav_item
      a(href="/terms") 利用規約
    div.l-footer_nav_item
      a(href="#") Bizlinkとは？
    div.l-footer_nav_item
      a(href="/privacy") プライバシーポリシー
    div.l-footer_nav_item
      a(href="/faq") Q/A
    div.l-footer_nav_item
      a(href="#") 運営会社
    div.l-footer_nav_item
      a(href="#") ログアウト
  .l-copyright Copyright© Growther Inc. All Rights Reserved.