<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  title TOP
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/css/reset.css")
  link(rel="stylesheet", href="/css/style.css")
body
  block contents
  block modal
  //- npm i gulp -D
  //- npm i gulp-notify -D
  //- npm i gulp-plumber -D
  //- npm i gulp-sass -D
  //- npm i gulp-autoprefixer -D
  //- npm i gulp-pug -D
  //- npm i browser-sync -D